.content{
    width: 100%; 
    height: 80vh;
    /* display: none; */
    /* font-family: var(--font); */
}
.main-content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

 .content-1{
    position: relative;
    width: 600px;
    height: 450px;
} 

.content-1-img .image{
    display: block;
    max-width: 100%;
    object-fit:  center;
}

.content-1 p{
    position: absolute;
    max-width: 350px;
    bottom: 20px;
    color: gray;
    background: rgba(0,0,0,0.8);
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.content-2{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
} 
.img-1{
    /*  position: relative; */
    width: 500px;
    height: 150px;
    /* flex: 1; */
     background: gray;
     position: relative;
     border: 2px solid grey;
      border-radius: 1px;
}

.sub-content-1{ 
  
display: flex;
 gap: 1rem;
}

.sub-content-1 h1{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}
.sub-content-1 p{
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0.5rem 0;
    text-align: center;
} 